<%
title = "#this"
titleOG = null
siteName = "#this"
visible = true
description = [
	"Share photos with your friends."
].join("")

switch(template) {
  case "home/index":
    title = "#this"
    break

  case "home/notfound":
    title = "404 - Page Not Found"
    break
}

titleOG = titleOG || title
%>

<!-- Base Meta Tags -->
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="utf-8">

<!-- Favicon ICO -->
<link rel="shortcut icon" href="<%= host %>/images/favicon.png?r=<%= random %>" />
<link rel="icon" type="image/png" href="<%= host %>/images/logo.png?r=<%= random %>" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= host %>/images/logo.png?r=<%= random %>">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= host %>/images/logo.png?r=<%= random %>">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= host %>/images/logo.png?r=<%= random %>">

<% if(visible) { %>
	<!-- iOS App Tags -->
	<meta name="apple-itunes-app" content="app-id=<%= itunesID %>">
	
	<!-- AppLink App Tags -->
	<% if(itunesID) { %>
		<meta property="al:ios:url" content="this://" />
		<meta property="al:ios:app_store_id" content="<%= itunesID %>" />
		<meta property="al:ios:app_name" content="this" />
	<% } %>

	<!-- Open Graph Meta Tags -->
	<meta property="og:locale" content="en_us">
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= url %>">
	<meta property="og:image" content="<%= host %>/images/graph.jpg?r=<%= random %>">
	<meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
	<meta property="og:title" content="<%= titleOG %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:site_name" content="<%= siteName %>"/>

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="<%= titleOG %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="<%= host %>/images/graph.jpg?r=<%= random %>">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@">
	<meta name="twitter:text:title" content="<%= titleOG %>">
	<meta name="twitter:text:description" content="<%= description %>">
	<meta name="twitter:app:name:iphone" content="#this">
	<meta name="twitter:app:id:iphone" content="<%= itunesID %>">
	<meta name="twitter:app:url:iphone" content="this://">
	<meta name="twitter:image" content="<%= host %>/images/graph.jpg?r=<%= random %>">
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="630" />

	<!-- Robot Meta Tags -->
	<meta name="robots" content="INDEX, FOLLOW">
	<meta name="revisit-after" content="1 day">
	<meta name="distribution" content="web">
<% } else { %>

	<!-- Robot Meta Tags -->
	<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE">
<% } %>
